@import 'organisms/Biography/quote.css';
@import 'organisms/Biography/skills.css';

.container > p:nth-child(1):first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}