@import 'organisms/Home/header.css';
@import 'organisms/Home/salutation.css';
@import 'organisms/Home/jobs.css';
@import 'organisms/Home/blog.css';
@import 'organisms/Home/footer.css';

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: block;
    
    perspective: 6px;
    -webkit-perspective: 6px;
    
    perspective-origin: 50% 160px;
    -webkit-perspective-origin: 50% 160px;
}

main {
    
    /* float: none; */
    flex-grow: 1;
    
    padding-bottom: 0;
    width: 100vw;
}

.button-more {
    background-color: #851944;
    border: .2em solid black;
    box-shadow: 0 0 1em #000, inset 0 0 .5em #FFF;
    color: #FFF;
    display: block;
    font-size: 1.25em;
    margin: 2em auto;
    padding: .5em;
    text-align: center;
    width: 40ch;
}

.button-more:focus,
.button-more:hover {
    background-color: #C54974;
    box-shadow: 0 0 1em #FA9;
    color: white;
    text-decoration: none;
    transition: .5s;
}

.section {
    padding: 2em;
}

.section h2 {
    font-size: 3em;
    margin-bottom: .5em;
    text-transform: uppercase;
    text-shadow: 5px 5px #000;
}