@import 'molecules/site/menu.css';

@-webkit-keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: #F2FFFC;
    display: flex;
    flex-wrap: wrap;
    font-family: "Crimson Text", "Times New Roman", serif;
    font-size: 120%;
    line-height: 1.5;
}

h1,
h2,
.subtitle-header {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    animation: show 5s ease-in;
    -webkit-animation: show 5s ease-in;

    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 5px 5px #000;
}

.header {
    background-color: #851944;
    border-bottom: .5rem solid #000;
    color: #FFF;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.subtitle-h2 {
    clear: both;
    font-size: 1.5em;
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0;
    width: 80ch;
}

main {
    /* float: left; */

    flex-grow: 1;
    padding-bottom: 4em;
    width: calc(100% - (0.9 * 300px));
}

main a {
    color: #851944;
}

main p {
    margin: 1em 0;
    text-align: justify;
}

main a:hover,
main a:focus,
footer a:hover,
footer a:focus {
    color: red;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.footer {
    /* background-color: rgba(0, 0, 0, 0.8);*/
    
    background-image: radial-gradient(ellipse at left bottom,
        rgba(60, 29, 61, 0.8),
        rgba(60, 29, 61, 0.8) 65%,
        black 65%,
        black 70%,
        transparent 70%);
    background-repeat: no-repeat;
    background-size: 25% 100%;
    bottom: 0;
    box-sizing: border-box;
    color: #F2FFFC;
    clear: both;
    left: 0;
    padding: 1em;
    position: fixed;
    text-shadow: 1px 1px black;
    width: 100%;
}